#trainScheduleFormContainer {
    margin-top: 3%;
}

#trainScheduleFormContainer form input{
    width: 350px;
}

#schedule {
    margin-top: 3%;
}

#regForm {
    margin-top: 3%;
}

#loginContainer{
    margin-top: 8%;
}

#loginForm button{
    width: 172px;
}

#register {
    margin-top: 2%;
}

#trains {
    margin-top: 3%;
}

#trainsTable th {
    text-align: center;
}

#trainsTable td {
    text-align: center;
}

#ticketTable th {
    text-align: center;
}

#ticketTable td {
    text-align: center;
}

#purchaseForm {
    margin-top: 2%;
}

#purchaseTitle {
    text-align: center;
}

#purchaseTitleRow {
    margin-top: 3%;
}

#ticketTable {
    margin-top: 3%;
}

#ticketTitle {
    text-align: center;
}