#schedule {
    margin-top: 3%;
}

#loginForm {
    margin-top: 7%;
}

#register {
    margin-top: 2%;
}

#trains {
    margin-top: 3%;
}

#purchaseForm {
    margin-top: 2%;
}

#purchaseTitle {
    text-align: center;
}
#purchaseTitleRow{
    margin-top: 3%;
}